/* Color Pallette
- Darkest Green : 13,29,23
- Dark Green : 63,72,58
- Green : 99,113,81
- Light Green : 142,157,117

- Dark Yellow : 180,155,53

- Dark Brown : 69,64,52
- Brown : 107,86,36
- Gray Brown : 123,113,95

- Breaked White : #f1f1f1
*/

/* Color Pallette 2
 - Good brown : #534644
 - Text Good black : #464c49
 - Lightly Gray White : #f0f2f2
 - Good green : 125,140,79
 */

/* General */

html {
    scroll-behavior: smooth;
}

body {
    z-index: 5;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #534644;
}

h2 {
    z-index: inherit;
}

h1 {
    z-index: inherit;
}

@media (min-width: 800px) {
    h2 {
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 5px;
    }
}

.section {
    width: 100%;
    left: 10%;
    display: block;
    border-radius: 10px;
    margin: auto;

    h1 {
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(125,140,79);
        padding: 10vh;
        font-size: 3vw;
    }
}

/* Image and Text container*/



/* Main Title */

.mainFrame {
    z-index: 0;
    width: 100vw;
    height: 100vh;


    .container {
        z-index: -1;
        position: fixed;
    }

    .container > img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center top;
    }

    .container > .title {
        z-index: 0;
        position: fixed;
        top: 40%;
        left: 20%;
        color: black;
        display: block;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(105, 46, 4, 0.4);
        backdrop-filter: blur(10px);
        font-size: 4vw;
    }
}

/* Navigation Bar */

nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        margin: 0 0;

        li {
            height: 100%;
            border-radius: 3px;
            display: block;
        }

        a {
            height: 100%;
            padding: 16px 30px;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: black;
        }

        a:hover {
            background-color: lightgray;
        }

        li:first-child {
            margin-right: auto;
        }
    }


    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;

        li {
            width: auto;
        }
        a{
            padding: 0 30px;
        }
    }

    .sidebar li {
        width: 100%;
    }

    .sidebar a {
        width: 100%;
    }

    .hideOnPc {
        display: none;
    }

    @media (max-width: 1100px) {
        .hideOnMobile {
            display: none;
        }

        .hideOnPc {
            display: block;
        }
    }

    @media (max-width: 400px) {
    }

}

/* Content */

.whiteRoundedSquare {
    background-color: white;
    width:100vw;
    overflow: hidden;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

/* Diplomas */

#diplomas {
    height: auto;
    display: block;
    background-color: white;
    padding-bottom: 2%;
    margin: 0 auto;

    h1 {
        margin-top: 0;
    }

    .timeline {
        padding-top: 10vh;
        position: relative;
        width: 100%;
        left: 10%;
    }

    .timeline::after{
        content: '';
        position: absolute;
        width: 8px;
        border-radius: 10px;
        background-color: rgb(191, 106, 29);
        top: 10vh;
        bottom:0;
        margin-left: -3px;
    }

    .year {
        z-index: 1;
        position: relative;
        text-align: center;
        display: block;
        background-color: white;
        width: 10%;
        border: 4px solid rgb(191, 106, 29);
        border-radius: 4px;
        left: -5%;
    }

    .content {
        width: 70%;
        position: relative;
        left: 10%;
        border: 2px solid lightgray;
        background-color: white;
        border-radius: 20px;
        height: auto;
        margin: 1% 0;

        .normal-display {
            padding: 1% 0;
            text-align: left;
            display: flex;
            border-radius: 20px;
            flex-direction: row;
            width: 100%;
            height: 70px;
            gap: 10px;
            cursor: pointer;

            h2 {
                margin: auto 0;
                font-size: 1.5vw;

                @media (max-width: 1200px) {
                    font-size: 2vw;
                }

                @media (max-width: 800px) {
                    font-size: 2.5vw;
                }

                @media (max-width: 500px) {
                    font-size: 3vw;
                }

                @media (max-width: 400px) {
                    font-size: 3.5vw;
                }
            }

            img {
                max-width: 100%;
                aspect-ratio: initial;
            }
        }

        .normal-display:hover {
            background-color: lightgray;
        }

        .text-box {
            display: none;
            flex-direction: column;
        }
    }
}
/* Experiences */

#experiences {
    .area {

        display: flex;
        flex-direction: column;
        gap: 30px;

        width: 90%;
        margin: auto;
        padding-top: 10vh;
        padding-bottom: 10vh;
        .row {
            width: 100%;
            height: 45vh;

            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5%;
            @media (max-width: 800px) {
                flex-direction: column;
                height: auto;
            }
            
            .cell {
                position: relative;
                height: 45vh;
                aspect-ratio: 1/1;
                border: 2px solid rgb(125,140,79);
                overflow: hidden;
                cursor: pointer;

                .image-box {
                    z-index: 1;
                    height: 100%;
                    display: flex;
                    transition:
                            opacity 0.4s ease,
                            transform 0.4s ease;
                    img {
                        height: auto;
                        width: 70%;
                        margin: auto auto;
                    }

                }

                .text-box {
                    position: absolute;
                    padding: 20px;
                    z-index: 2;
                    top: 0;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    box-sizing: border-box;

                    width: 100%;
                    height: 100%;

                    transition: left 0.4s ease;

                    .title {
                        transform: translateX(-100%);
                        opacity: 0;
                        transition: transform 0.5s ease, opacity 0.5s ease;
                    }

                    .content {
                        transform: translateX(100%);
                        opacity: 0;
                        transition: transform 0.5s ease 0.1s, opacity 0.5s ease 0.1s;
                    }

                    .close-button {
                        position: absolute;
                        left: 90%;
                        top: 5%;
                        opacity: 0;
                        transition: opacity 0.2s ease;
                    }
                }
            }

            @media (any-pointer: fine) {
                .cell:hover {
                    .title {
                        transform: translateX(0);
                        opacity: 1;
                    }
                    .content {
                        transform: translateX(0);
                        opacity: 1;
                    }
                    .image-box {
                        opacity: 0;
                        transform: scale(1.05);
                    }
                }
            }
            
            @media (any-pointer: coarse) {
                .cell:hover {
                    .title {
                        transform: translateX(-100%);
                        opacity: 0;
                    }
                    .content {
                        transform: translateX(-100%);
                        opacity: 0;
                    }
                    .image-box {
                        opacity: 1;
                        transform: scale(1.00);
                    }
                }
            }


            .cell.active {
                cursor: default ;
                .title {
                    transform: translateX(0);
                    opacity: 1;
                }
                .content {
                    transform: translateX(0);
                    opacity: 1;
                }
                .image-box {
                    opacity: 0;
                    transform: scale(1.05);
                }
                .close-button {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Skills */

#skills {
        .column {
            position: relative;
            height: auto;
            display: flex;
            justify-content: start;
            flex-direction: column;
            padding: 10vh 10px;

            .row {
                position: relative;
                display: flex;
                height: auto;
                padding-bottom: 5%;
                padding-left: 5%;
                padding-right: 5%;

                div {
                    position: relative;
                    margin: auto;
                    display: block;
                    background-color: black;
                    padding: 10px;
                    border-radius: 10px;
                    text-align: center;
                    width: 20%;
                    height: auto;

                    img {
                        position: relative;
                        width: 75%;
                        height: auto;
                    }
                }
            }


        }
    }

/* Projects */

#projects {
        .container {
            display: flex;
            flex-direction: column;
            width: 95%;
            margin: auto;
            padding-top: 10vh;
            padding-bottom: 10vh;
            gap: 20px;

            title {
                position: fixed;
                color: black;
                display: block;
                padding: 20px;
                border-radius: 10px;
                background-color: rgba(105, 46, 4, 0.4);
                backdrop-filter: blur(10px);
                font-size: 4vw;
            }

            .item {
                display: flex;
                max-width: inherit;
                height: 40vh;

                @media (max-width: 800px) {
                    height: 200px;
                }

                @media (max-width: 400px) {
                    height: 150px;

                }
            }

            .item.left {
                justify-content: flex-start;
            }

            .item.right {
                justify-content: flex-end;
            }

            .image-box {
                position: relative;
                width: 500px;
                height: inherit;
                background-size: cover;
                background-position: center;
                border-radius: 8px;
                overflow: hidden;
                color: white;

                @media (max-width: 800px) {
                    width: 400px;
                }

                @media (max-width: 400px) {
                    width: 100%;

                }
            }

            .text-box{
                display: block;
                margin: auto;
                position: relative;
                width: 500px;
                height: inherit;
                text-align: center;
                top:50%;

                @media (max-width: 800px){
                    display: none;
                }
            }

            .text-overlay {
                position: absolute;
                bottom: 50%;
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                text-align: center;
                padding: 10px;
                box-sizing: border-box;

                @media (min-width: 800px) {
                    display: none;
                }
            }
        }


    }

/* About Me */

#about {
        padding: 4vh 0;
        border: none;

        justify-content: space-evenly;
        font-family: Arial, sans-serif;
        .area{
            display: flex;
            gap: 2%;
            background-color: white;
            border-radius: 10px;
            border: 2vw solid rgb(191, 106, 29);
            width: 50vw;
            aspect-ratio: 2/1.5;
            margin: 10vh auto;

            #about-img{
                position: relative;
                flex:1;
                text-align: center;
                width: auto;
                height: 100%;


                img {
                    padding: 10% 10%;
                    border-radius: 10%;
                    height: 60%;
                    aspect-ratio: initial;
                }
            }


            #about-info{

                flex:2;
                list-style: none;
                text-align: left;
                h2{
                    text-align: left;
                }
            }

            h2 {
                font-size: 1.5vw;
            }

            h3 {
                font-size: 1.5vw;
            }
        }
    }

/* Footer */

footer{
    width: 100%;
    height: 40vh;
    background-color: #534644;
}

